.grid-wrapper{
    margin: 1%;
    margin-left: calc(20vw + 1%);
}

table{
    background-color: #2a2a2a;
    font-weight: 400;
    border-color: #171717;
    color: #b5b4b4;

    tbody:hover{
        cursor: pointer;
    }

    td, th{
        padding: .25rem;
        border-color: #171717;
    }

    tr{
        border-color: #171717;
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1122px) {
    td{
        padding: 0.3rem 0.13rem!important;
    }
}

@media (max-width: 992px) { 
    td{
        padding: 0.2rem 0.23rem!important;
    }

    th{
        padding: 0.2rem 0.1rem !important;
        font-size: 15px;
    }
 }

@media (max-width: 768px) {
    .grid-wrapper{
        margin: 1%;
    }

    td{
        padding: 0.15rem!important;
        font-size: 15px;
    }

    th{
        padding: 0.4rem!important;
    }   
}