.header{
    height: 80px;
    background-color: #272727!important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .header{
        position: absolute;
    }

    :host{
        position: relative;
    }
}